<h2>{{player.firstName}} {{player.lastName}}</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <ul class="list-group">
                <li class="list-group-item"><strong>Bats:</strong> {{player.bats}}</li>
                <li class="list-group-item"><strong>Throws:</strong> {{player.throws}}</li>
                <li class="list-group-item"><strong>Height:</strong> {{player.height}}</li>
                <li class="list-group-item"><strong>Weight:</strong> {{player.weight}}</li>
            </ul>
        </div>
        <div class="col-sm-3">
            <ul class="list-group">
                <li class="list-group-item" *ngIf="player.birthDate"><strong>Birthdate:</strong> {{player.birthDate}}</li>
                <li class="list-group-item" *ngIf="player.birthStateProvince && player.birthCity"><strong>Birthplace:</strong> {{player.birthCity}}, {{player.birthStateProvince}}</li>
                <li class="list-group-item"><strong>Height:</strong> {{player.height}}</li>
                <li class="list-group-item"><strong>Weight:</strong> {{player.weight}}</li>
            </ul>
        </div>
        <div class="col-sm-3"></div>
    </div>

    <div class="panel panel-default player-window" [hidden]="hideBatting">
        <div class="panel-heading">
            <h3 class="panel-title">Standard Batting</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Team</th>
                        <th>Year</th>
                        <th>AB</th>
                        <th>H</th>
                        <th>2B</th>
                        <th>3B</th>
                        <th>HR</th>
                        <th>RBI</th>
                        <th>SH</th>
                        <th>SF</th>
                        <th>BB</th>
                        <th>IBB</th>
                        <th>HBP</th>
                        <th>K</th>
                        <th>SB</th>
                        <th>CS</th>
                        <th>GIDP</th>
                        <th>AVG</th>
                        <th>OBP</th>
                        <th>SLG</th>
                        <th>OPS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let batting of playerBatting">
                        <td>
                            <a [routerLink]="['/team',batting.teamIdentifier,batting.teamYear]">{{batting.teamIdentifier}}</a>
                        </td>
                        <td>{{batting.teamYear}}</td>
                        <td>{{batting.atBats}}</td>
                        <td>{{batting.hits}}</td>
                        <td>{{batting.doubles}}</td>
                        <td>{{batting.triples}}</td>
                        <td>{{batting.homeruns}}</td>
                        <td>{{batting.runsBattedIn}}</td>
                        <td>{{batting.sacrificeHits}}</td>
                        <td>{{batting.sacrificeFlies}}</td>
                        <td>{{batting.walks}}</td>
                        <td>{{batting.intentionalWalks}}</td>
                        <td>{{batting.hitByPitch}}</td>
                        <td>{{batting.strikeouts}}</td>
                        <td>{{batting.stolenBases}}</td>
                        <td>{{batting.caughtStealing}}</td>
                        <td>{{batting.groundedIntoDoublePlay}}</td>
                        <td>{{batting.battingAverage}}</td>
                        <td>{{batting.onBasePercentage}}</td>
                        <td>{{batting.sluggingPercentage}}</td>
                        <td>{{batting.onBasePlusSlugging}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
