<div class="bg-container">
    <div class="main-container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Scout</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Players
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/players/leaders">Leaders</a>
                            <a class="dropdown-item" href="/players/watched">Watched Players</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            My Account
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/account">Profile</a>
                            <a class="dropdown-item" href="/account/reports">My Scouting Reports</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/account/signout">Sign Out</a>
                        </div>
                    </li>
                </ul>
                <span class="navbar-text">
                    {{title}}&nbsp;&nbsp;
                </span>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" id="navPlayerSearch" placeholder="Search Player"
                        aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="button">Search</button>
                </form>
            </div>
        </nav>
        <div class="home-text">
            <div class="row">
                <div class="col-sm-6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultricies tempor erat, pharetra
                    ultricies nisl tempus at. In pharetra felis ac lectus placerat pellentesque. Pellentesque gravida
                    lobortis massa consectetur suscipit. Proin sed gravida diam. Donec vitae justo vitae ligula cursus
                    consectetur sed eget nunc. Maecenas commodo condimentum lacinia. Sed sollicitudin felis id nibh
                    bibendum elementum. Mauris non mi venenatis, gravida metus at, auctor purus. Donec a sem at ipsum
                    tincidunt fermentum. Donec tempus lacinia odio, sit amet iaculis nisi porta ac. Lorem ipsum dolor
                    sit amet, consectetur adipiscing elit.
                </div>
                <div class="col-sm-6">
                    Pellentesque et consequat ipsum, sit amet venenatis justo. Duis molestie libero ac libero euismod
                    mollis. Phasellus vitae pharetra sapien. Maecenas eu sapien nec erat ornare facilisis at eu libero.
                    In hac habitasse platea dictumst. Nunc in sagittis elit. Pellentesque ac tincidunt arcu. Proin
                    vulputate ligula sit amet ornare malesuada.
                </div>
            </div>
        </div>
    </div>
</div>